
/* css for website*/
body{
	font-family:'Audiowide';
	font-size:20px;
	background-color:#ccf5ff ;

}
div.title{
	background: linear-gradient(white,#ccf5ff); 
	padding-left: 15px;
	font-size:30px;
}
div.subtitle{
	padding-top:30px;
	padding-left:20px;
	padding-bottom:20px;
	font-size:30px;
	
	
	
}
div.text{
	font-size:20px;
	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c2f33;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
img.home{
	width:75px;
	height:75px;
}